<div class="modal-header">
  <h3>Import Progress From S3</h3>
</div>
<div class="modal-body">
  <div class="s3-import-progress" ng-show="s3_import_processing">
    <div class="progress">
      <div style="min-width:25px;width:{{s3_import_completed * 100 | number:0}}%" class="progress-bar" role="progressbar">
        {{s3_import_completed * 100 | number:0}}%
      </div>
    </div>
  </div>
</div>
